<div class="d-flex flex-column align-items-center pt-10 pt-lg-0 pb-15 pb-lg-0">
    <p class="mb-15">We are located at #221-2323 Quebec Street, V5T 4S7, Vancouver BC</p>
    <h6 class="mb-15">Customer Services</h6>
    <div class="d-flex flex-column">
        <p class="d-flex justify-content-center justify-content-lg-start mb-10"><i class="mr-7">[icon:theme-197]</i>Call Us: 1-604-876-2535 <br>Toll Free: 1-855-554-4983 </p>
        <p class="d-flex justify-content-center justify-content-lg-start mb-10"><i class="mr-7">[icon:theme-234]</i><span class="text-left">Mon-Fri: 8:00 am - 4:00 pm</span></p>
        <p class="d-flex justify-content-center justify-content-lg-start mb-10"><i class="mr-7">[icon:theme-153]</i><a href="mailto:service@alpinestart.com" class="btn-link">Send us an email</a></p>
    </div>
</div>