<h4 class="mb-10">Shipping</h4>
<ul class="list-sm mb-30">
    <li>Complimentary ground shipping for all orders over $99</li>
    <li>Free in-store pick-up</li>
    <li>Expedited shipping available</li>
    <li>See the Shipping & Delivery page located in our footer for details on shipping methods, costs and delivery times</li>
</ul>
<h4 class="mb-10">Returns And Exchanges</h4>
<ul class="list-sm">
    <li>Easy and complimentary, within 14 days</li>
    <li>See conditions and procedure in our Warranty & Return page located in our footer</li>
</ul>