<p>Shella accepts the following payment methods:</p>
<ul class="list-lg mt-20 mb-0">
    <li>Credit Card: Visa, MasterCard, Discover, American Express, JCB, Visa Electron. The total will be charged to your card when the order is shipped.</li>
    <li>Shella features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
    <li>PayPal: Shop easily online without having to enter your credit card details on the website.</br>Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="https://paypal.com" target="_blank" class="link-revert text-underline">paypal.com.</a></li>
</ul>