<table class="table-product-sizes responsive-table"><tbody>
    <tr>
        <td>HEIGHT:</td>
        <td>180 cm - 5' 11”</td>
    </tr>
    <tr>
        <td>BUST:</td>
        <td>83 cm - 32”</td>
    </tr>
    <tr>
        <td>WAIST:</td>
        <td>57 cm - 22”</td>
    </tr>
    <tr>
        <td>HIPS:</td>
        <td>88 cm - 35</td>
    </tr>
    <tr>
        <td>SHOE SIZE:</td>
        <td>39 - 6</td>
    </tr>
    </tbody>
</table>
<div class="mt-30 mt-lg-55">
    <p>Note: you can configure unique tab per product</p>
</div>