<div class="promo-text promo-text--width-02 mx-auto">
    <p class="h5 mb-15 colorize-theme2-c">IN STORES & ONLINE NOW</p>
    <p class="h1 mb-15 colorize-theme2-c">THIS JUST IN</p>
    <p class="mb-25 colorize-theme2-c">Hundreds of new spring arrivals, featuring on-trend matching sets for her and breezy, spring-infused prints for him.</p>
    <div class="promo-text__buttons mx-auto">
        <div class="row no-gutters">
            <div class="col-12 mb-10"><a href="https://shella.mpthemes.net/collections/womens" class="btn btn--full btn--transparent btn--invert">WOMEN’S NEW ARRIVALS</a></div>
            <div class="col-12 mb-10"><a href="https://shella.mpthemes.net/collections/mens" class="btn btn--full btn--transparent btn--invert">MEN’S NEW ARRIVALS</a></div>
        </div>
    </div>
</div>