<div class="popup-services__content">
    <p>Have a question? You may find an answer in our <a href="/pages/answers-to-your-questions" class="btn-link">FAQs</a>.<br>But you can also contact us:</p>
    <h6 class="mb-20">Customer Services</h6>
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-197]</i>Call Us: 604-876-2555</p>
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-234]</i>Mon-Fri: 10:00 am - 7:00 pm<br>Sat: 10:00 am - 7:00 pm<br>Sun: 11:00 am - 6:00 pm</p>
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-153]</i><a href="mailto:service@alpinestart.com" class="btn-link">Send us an email</a></p>
</div>
<hr>
<div class="popup-services__head d-flex align-items-center mb-15">
    <h5 class="m-0">SHIPPING</h5>
</div>
<div class="popup-services__content">
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-116]</i>Free shipping delivery all orders of $49 or more of eligible items across any product category qualify.</p>
</div>
<hr>
<div class="popup-services__head d-flex align-items-center mb-15">
    <h5 class="m-0">PAYMENTS</h5>
</div>
<div class="popup-services__content">
    <h6 class="mb-20">Accepts the following payment methods:</h6>
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-125]</i>Credit Card: Visa, MasterCard, Maestro, American Express. The total will be charged to your card when the order is shipped.</p>
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-157]</i>PayPal: Shop easily online without having to enter your credit card details on the website. </p>
</div>
<hr>
<div class="popup-services__head d-flex align-items-center mb-15">
    <h5 class="m-0">RETURN POLICY</h5>
</div>
<div class="popup-services__content">
    <p class="d-flex align-items-start"><i class="mr-10">[icon:theme-009]</i>You can return any item purchased on Alpinestart.com within 14 days of the delivery date.</p>
</div>