<p class="mb-15">Limited Time: Online Only!</p><h1 class="mb-15">FINAL<br>CLEARANCE</h1><h4 class="mb-25">Take 20% Off ‘Sale Must-Haves'</h4>
<div class="d-flex flex-wrap w-100 mx-auto" style="max-width: 400px;">
    <div class="col-12 col-md-6 px-lg-5 mb-10">
        <div class="btn btn--full btn--transparent">SHOP WOMEN'S</div>
    </div>
    <div class="col-12 col-md-6 px-lg-5 mb-10">
        <div class="btn btn--full btn--transparent">SHOP MEN'S</div>
    </div>
</div>