<div class="promo-text mx-auto">
    <p class="h1 mb-15 colorize-theme2-c">TAKE YOUR FIT TO THE NE(X)T LEVEL</p>
    <p class="mb-25 h4 colorize-theme2-c">Your Favorite Jean Fits And Shorts Just Got The Ultimate Upgrade</p>
</div>