<p class="h6 mb-15">Enjoy the benefits of registering:</p><ul class="mb-20">
    <li class="mb-15">Order: view Order History, track and manage purchases and returns</li>
    <li class="mb-15">Address Book and Card Wallet: safely store delivery and payment details for faster checkout</li>
    <li class="mb-15">Saved for later: wish list your preferred items and track their availability</li>
</ul>