<div class="d-flex flex-column align-items-center text-center">
    <div class="row no-gutters justify-content-center">
        <div class="col-6">
            <div class="rounded-circle overflow-hidden">
                <img src="https://cdn.shopify.com/s/files/1/0026/2956/6516/files/11_4a15381b-ed2a-4afb-b547-c3d1badf18c3.png?12775322482103733020" alt="About">
            </div>
        </div>
    </div>
    <h4 class="mt-20 mb-0">Annie Greenberg</h4>
    <p class="mt-15 mb-0">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet conse ctetur adipisicing eli.</p>
    <div class="row no-gutters justify-content-center mt-20">
        <div class="col-6">
            <div class="rounded-circle overflow-hidden">
                <img src="https://cdn.shopify.com/s/files/1/0026/2956/6516/files/blogs-about.png?9425565926943578041" alt="About">
            </div>
        </div>
    </div>
</div>