<div class="promo-text promo-text--width-01 mx-auto">
    <p class="mb-15 colorize-theme2-c">Limited Time: Online Only!</p>
    <p class="h1 mb-15 colorize-theme2-c">FINAL<br> CLEARANCE</p>
    <p class="h4 mb-25 colorize-theme2-c">Take 20% Off ‘Sale Must-Haves'</p>
    <div class="promo-text__buttons mx-auto">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6 px-lg-5 mb-10"><a href="https://shella.mpthemes.net/collections/womens" class="btn btn--full btn--transparent btn--invert">SHOP WOMEN'S</a></div>
            <div class="col-12 col-lg-6 px-lg-5 mb-10"><a href="https://shella.mpthemes.net/collections/mens" class="btn btn--full btn--transparent btn--invert">SHOP MEN'S</a></div>
        </div>
    </div>
</div>