<div class="promo-text promo-text--width-01 mx-auto">
    <p class="h5 mb-15 colorize-theme2-c">IN STORES & ONLINE NOW</p>
    <p class="h1 mb-15 colorize-theme2-c">TAKE YOUR FIT TO<br> THE NE(X)T LEVEL</p>
    <p class="mb-25 colorize-theme2-c">Your favorite jean fits and shorts just got the ultimate upgrade, thanks to our stretchiest, most comfortable denim</p>
    <div class="promo-text__buttons mx-auto"><div class="row no-gutters">
            <div class="col-12 col-lg-6 pr-lg-5 mb-10"><a href="https://shella.mpthemes.net/collections/womens" class="btn btn--full btn--transparent btn--invert">SHOP WOMEN'S</a></div>
            <div class="col-12 col-lg-6 pl-lg-5 mb-10"><a href="https://shella.mpthemes.net/collections/mens" class="btn btn--full btn--transparent btn--invert">SHOP MEN'S</a></div>
        </div></div>
</div>