<div class="popup-services__head d-flex align-items-center mb-10">
    <h5 class="m-0">SHIPPING</h5>
</div>
<div class="popup-services__content">
    <p class="d-flex align-items-start mb-10"><i class="mt-2 mr-5">[icon:theme-116]</i>Free shippingdelivery all orders of $49 or more of eligible items across any product category qualify.</p>
</div>
<hr class="my-15">
<div class="popup-services__head d-flex align-items-center mb-10">
    <h5 class="m-0">PAYMENTS</h5>
</div>
<div class="popup-services__content">
    <h6 class="mb-10">Accepts the following payment methods:</h6>
    <p class="d-flex align-items-start mb-15"><i class="mr-5">[icon:theme-125]</i>Credit Card: Visa, MasterCard, Maestro, American Express. The total will be charged to your card when the order is shipped.</p>
    <p class="d-flex align-items-start mb-10"><i class="mr-5">[icon:theme-157]</i>PayPal: Shop easily online without having to enter your credit card details on the website. </p>
</div>
<hr class="my-15">
<div class="popup-services__head d-flex align-items-center mb-10">
    <h5 class="m-0">RETURN POLICY</h5>
</div>
<div class="popup-services__content">
    <p class="d-flex align-items-start mb-10"><i class="mr-5">[icon:theme-009]</i>You can return any item purchased on Shella within 20 days of the delivery date.</p>
</div>