<div class="promo-text mx-auto">
    <p class="h1 mb-15 colorize-theme2-c">THIS JUST IN</p>
    <p class="mb-25 h4 colorize-theme2-c">Hundreds Of New Spring Arrivals, Featuring On-Trend Matching Sets For Her And Breezy, Spring-Infused Prints For Him.</p>
</div>