{%- if section.settings.code != blank -%}
    <div class="contact-map position-relative">
        {% include 'content-load-template' content: section.settings.code %}
    </div>
{%- endif -%}


{% schema %}
{
    "name": "Contact Map",
    "settings": [
        {
            "type": "textarea",
            "id": "code",
            "label": "Code",
            "default": "[template:contact-map]"
        }
    ]
}
{% endschema %}